<script src="/js/langConvert.js"></script>
<script src="/js/darkmode-js.min.js"></script>
<script>
var options = {
  label: '🌓', // default: ''
  autoMatchOsTheme: true // default: true
}

const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyright">
                <br />2016-2019 Labrusca <a href="https://labrusca.net/" target="_blank" title="Light of Seraphim">My Blog</a> - <a href="http://www.cqagape.com/" title="愿荣耀归于万有之神我主耶稣基督，因这一切乃是出于圣灵!" target="_blank">以马内利</a> | <a href="https://labrusca.net/index1.html" title="Just for fun!">后台终端</a></p> <a  href=javascript:TSC('big5')> 繁体 </a>  <a  href=javascript:TSC('gb')> 简体 </a><div class="text-center text-muted">共有<span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span></span>个不明生物点击了<span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span>次</div>
            </div>
        </div>
    </div>
</footer>