<div class="container">
	<!-- <div class="alert alert-warning">网站改版建设中...几乎所有链接都不可用</div> -->
	<div class="row">
		<main id="arl-list" class="col-md-8">
			<script id="arl-tpl" type="text/html">
				{{#each items}}
					<article class="post post-{{@index}}">
						<header class="entry-header">
							<h1 class="entry-title">
								<a href="{{link}}">{{title}}</a>
							</h1>
							<div class="entry-meta">
								<span class="post-category"><a href="#/tag?q={{tag}}">{{tag}}</a></span>
		
								<span class="post-date"><a><time class="entry-date" datetime="">{{updated}}</time></a></span>
		
								<span class="post-author"><a href="about.html">Labrusca</a></span>
		
								<span class="comments-link disable"><a href="#">评论系统未开放</a></span>
							</div>
						</header>
						<div class="entry-content clearfix">
							<p class="text-center">{{description}}</p>
							<div class="read-more cl-effect-14">
								<a href="{{link}}" class="more-link">继续阅读详情 <span class="meta-nav">→</span></a>
							</div>
						</div>
					</article>
				{{/each}}
			</script>
		</main>
		<aside id="asidemain" class="col-md-4">
				<div id="rent-list" class="widget widget-recent-posts">		
				<script id="rent-tpl" type="text/html">		
					<h3 class="widget-title">最近文章</h3>
						{{{rent items}}}
				</script>
			</div>
			<div id="timeline" class="widget widget-archives">		
				<h3 class="widget-title">日期归档（未完成）</h3>	
				<ul>
					<li>
						<a href="#">November 2014</a>
					</li>
					<li>
						<a href="#">September 2014</a>
					</li>
					<li>
						<a href="#">January 2013</a>
					</li>
				</ul>
			</div>

			<div id="tag" class="widget widget-category">		
				<h3 class="widget-title">文章分类</h3>		
				<ul>
					<div>
						<li><a href="#/tag?q=技术">技术</a></li>
						<li><a href="#/tag?q=随笔">随笔</a></li>
						<li><a href="#/tag?q=以主之名">以主之名</a></li>
						<li><a href="#/tag?q=其它">其它</a></li>
					</div>
				</ul>
			</div>
		</aside>
		<div id="pagination"></div>
	</div>
</div>