<div class="container">
	<!-- <div class="alert alert-warning">网站改版建设中...几乎所有链接都不可用</div> -->
	<div class="row">
		<main class="col-md-8">
			<div id="arl-list" class="row"></div>
			<div class="row">
				<div class="col-md-8">
					<div id="pagination"></div>
				</div>
			</div>
		</main>
		<aside id="asidemain" class="col-md-4">
			<div id="recent-list" class="widget widget-recent-posts">		

			</div>
			<div id="timeline" class="widget widget-archives">		
				<h3 class="widget-title">日期归档（未完成）</h3>	
				<ul>
					<li>
						<a href="#">November 2014</a>
					</li>
					<li>
						<a href="#">September 2014</a>
					</li>
					<li>
						<a href="#">January 2013</a>
					</li>
				</ul>
			</div>

			<div id="tag" class="widget widget-category">		
				<h3 class="widget-title">文章分类</h3>		
				<ul>
					<div>
						<li><a href="/tag/#/技术">技术</a></li>
						<li><a href="/tag/#/随笔">随笔</a></li>
						<li><a href="/tag/#/以主之名">以主之名</a></li>
						<li><a href="/tag/#/其它">其它</a></li>
					</div>
				</ul>
			</div>
		</aside>
	</div>

</div>