<!DOCTYPE html>
<html>
	<head>
		<title>Light of Seraphim - Labrusca's Blog</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/pace.css">
	    <link rel="stylesheet" href="css/custom.css">

	    <!-- js -->
	    <script src="js/jquery-1.8.3.min.js"></script>
	    <script src="js/jquery.jfeed.pack.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/pace.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/marked.js"></script>
		<link href="css/layx.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="index.html"><b>Light of Seraphim</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="index.html" data-hover="Home">Home</a></li>
    								<li class="cl-effect-11"><a href="full-width.html" data-hover="Blog">Blog</a></li>
    								<li class="cl-effect-11"><a href="about.html" data-hover="About">About</a></li>
    								<li class="cl-effect-11"><a href="contact.html" data-hover="Contact">Contact</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div id="cbody" class="content-body">
			<div class="container">
				<div class="row" v-cloak>
					<main id="arl-list" class="col-md-8">
						<script id="tpl" type="text/html">
							<%for (var i = 0; i < feed.items.length; i++) {%>
								<article  class="post post-<%:=i%>">
									<header class="entry-header">
										<h1 class="entry-title">
											<a href="<%:=feed.items[i].link%>"><%:=feed.items[i].title%></a>
										</h1>
										<div class="entry-meta">
											<span class="post-category"><a href="full-width.html?tag=all">None</a></span>
					
											<span class="post-date"><a><time class="entry-date" datetime=""><%:=feed.items[i].pubDate%></time></a></span>
					
											<span class="post-author"><a href="about.html">Labrusca</a></span>
					
											<span class="comments-link disable"><a href="#">评论系统未开放</a></span>
										</div>
									</header>
									<div class="entry-content clearfix">
										<p><%:=feed.items[i].description%></p>
										<div class="read-more cl-effect-14">
											<a href="<%:=feed.items[i].link%>" class="more-link">继续阅读详情 <span class="meta-nav">→</span></a>
										</div>
									</div>
								</article>
							<%}%>
						</script>

					</main>
					<aside id="asidemain" class="col-md-4">
						<div class="widget widget-recent-posts">		
							<h3 class="widget-title">最近文章</h3>
							<script id="tpl" type="text/html">		
								<ul>
									<%for (var i = 0; i < 3; i++) {%>
										<li>
											<!-- index is not $index -->
											<a href="<%:=feed.items[i].link%>"><%:=feed.items[i].title%></a>
										</li>
									<%}%>
								</ul>
							</script>
						</div>
						<div class="widget widget-archives">		
							<h3 class="widget-title">时间线（未完成）</h3>	
							<ul>
								<li>
									<a href="#">November 2014</a>
								</li>
								<li>
									<a href="#">September 2014</a>
								</li>
								<li>
									<a href="#">January 2013</a>
								</li>
							</ul>
						</div>

						<div class="widget widget-category">		
							<h3 class="widget-title">文章分类</h3>		
							<ul v-for="article in articles" >
								<div v-for="tag in article.tags">
									<li>
										<a href="full-width.html?type=abstract&value={{ tag }}">{{ tag }}</a>
									</li>
								</div>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2016-2018 Labrusca <a href="http://labrusca.github.io/" target="_blank" title="Light of Seraphim">My Blog</a> - <a href="http://www.god.org/" title="愿荣耀归于万有之神我主耶稣基督，因这一切乃是出于圣灵!" target="_blank">以马内利</a></p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script></script>
		<script src="js/script.js"></script>
		<script src="js/template.js"></script>
		<script src="js/layx.js" type="text/javascript"></script>
		<script>
			$(document).ready(function() {
				jQuery.getFeed({
        			url: 'rss.xml',
        			success: function(feed) {
        				console.log(feed);
        				var tpl = document.getElementById('tpl').innerHTML;
        				template(tpl, feed.items);
        			}
        		});

				$.get('articles/admin.md',(mdtext) => {
					layx.open({
						id: 'demo-center',
						title: '网站建设改版中',
						shadable: true,
						loaddingText:'亲，正在加载中哦，请稍后...', 
						closable: false,
						content: marked(mdtext)  // iframe为类型，预留字段，后续将有其他类型
            		});
		        });
			});
		</script>
	</body>
</html>
