<footer class="page-footer fixed-footer blue-grey lighten-3">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= title %></h5>
          <p class="grey-text text-lighten-4"><%= description %></p>
          共有<span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span></span>个不明生物点击了<span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span>次
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="//www.cqagape.com">重庆市基督教圣爱堂</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="/index1.html">后台终端</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 <%= author.name %>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>