<nav class="nav-extended blue-grey lighten-3">
        <div class="nav-wrapper">
            <a href="<%= home_page_url %>" class="brand-logo truncate left"><%= title %></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light" href="#/timeline">时间线</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="#modal-about">关于我</a></li>
                <li><a class="waves-effect waves-light" href="#/contact">联系我</a></li>
                <li><a  href="/rss.xml"><i class="material-icons">rss_feed</i></a></li>
                <li>
                    <form>
                        <div class="input-field">
                          <input id="search" type="search" required>
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
            </ul>

        </div>
        <div class="nav-wrapper hide-on-small-only">
            <div class="col s12">
                <a href="/" class="breadcrumb"><i class="material-icons">home</i>首页</a>
            </div>
            <div class="nav-content">
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light black"  onclick="darkmode.toggle()">
                  <i class="material-icons">brightness_2</i>
                </a>
            </div>
        </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="waves-effect waves-light" href="/">首页</a></li>
    <li><a class="waves-effect waves-light" href="#/timeline">时间线</a></li>
    <li><a class="waves-effect waves-light modal-trigger" href="#modal-about">关于我</a></li>
    <li><a class="waves-effect waves-light" href="#/contact">联系我</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect waves-light" onclick="darkmode.toggle()">夜间模式</a></li>
</ul>

<div id="modal-about" class="modal">
    <div class="modal-content">
      <h4>关于我</h4>
      <div class="entry-content clearfix">
        <figure class="img-responsive-center">
            <img class="img-responsive img-circle" src="/img/me.jpg" alt="Developer Image">
        </figure>
        <p class="text-center"><strong>Labrusca</strong>，侍奉上主的灵，真名无法考证。<br>主攻网络安全方向的业余开发者。2019年创建Labrusca Studio网络安全实验室；开发设计部负责人</p>
        <p class="text-center">E-mail:labrusca#live.com</p>

        <div class="height-40px"></div>
        <h2 class="title text-center">Social</h2>
        <ul class="social">
            <li class="skype"><a href="#"><span class="ion-social-skype"></span></a></li>
            <li class="twitter-"><a href="https://www.twitter.com/kilist"><span class="ion-social-twitter"></span></a></li>
            <li class="github"><a href="https://github.com/labrusca"><span class="ion-social-github"></span></a></li>
            <li class="windows"><a href="mailto:labrusca#live.com"><span class="ion-social-windows"></span></a></li>
        </ul>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>