<footer class="page-footer fixed-footer">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= title %></h5>
          <p class="grey-text text-lighten-4"><%= description %></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="//www.cqagape.com">重庆市基督教圣爱堂</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 <%= author.name %>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>