<nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="<%= home_page_url %>" class="brand-logo truncate"><%= title %></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light" href="#/timeline">时间线</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="#modal-about">关于我</a></li>
                <li><a class="waves-effect waves-light" href="#/contact">联系我</a></li>
                <li>
                    <form>
                        <div class="input-field">
                          <input id="search" type="search" required>
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="nav-wrapper hide-on-small-only">
            <div class="col s12">
                <a href="/" class="breadcrumb">首页</a>
            </div>
        </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="waves-effect waves-light" href="#/timeline">时间线</a></li>
    <li><a class="waves-effect waves-light modal-trigger" href="#modal-about">关于我</a></li>
    <li><a class="waves-effect waves-light" href="#/contact">联系我</a></li>
</ul>

<div id="modal-about" class="modal">
    <div class="modal-content">
      <h4>关于我</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>